body {
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.ms_navbar {
    background-color: #2C3E50;
}

.box_text {
    background-color: yellow;
    min-height: 200px;
}

.box_text1 {
    background-color: yellow;
}

.box_text2 {
    background-color: yellow;
    min-height: 50px;
}

#jumbotron, #about {
    background-color: #1ABC9C;
}

#footerup {
    background-color: #3A546D;
}

#footerdown {
    background-color: #2C3E50;
}

#jumbotron ._img {
    width: 20%;
}

._img {
    width: 100%;
}

._stilizzazione {
    width: 100px;
    height: 3px;
    background-color: white;
    color: white;
    opacity: 1;
    margin: 4px 0px;
}

._stilizzazione_black {
    width: 100px;
    height: 3px;
    background-color: black;
    color: black;
    opacity: 1;
    margin: 4px 0px;
}

._color {
    color: #1ABC9C;
    text-decoration: none;
}