body {
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

#navigation {
    background-color: #2C3E50;
}

.box_text {
    background-color: yellow;
    min-height: 200px;
}

.box_text1 {
    background-color: yellow;
}

#jumbotron, #about {
    background-color: #1ABC9C;
}

._center {
    text-align: center;
}